<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo</title>
  </head>
  <body>
    <h1>Seja bem vindo!</p>
    <ul>
      <li>
        <%= link_to "Cadastro de moedas", coins_path %>
      </li>
    </ul>
  </body>
</html>
